<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5>Movie Database</h5>
                <p class="grey-text text-lighten-4">Log in, find your favorite movies, check your profile.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <ul>
                  <li><a href="/auth/register">Register</a></li>
                  <li><a href="/user">Profile Page</a></li>
                  <li><a href="/auth/login">Log In</a></li>
                  <li><a href="/auth/logout">Log Out</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Mic Drop Inc
            </div>
          </div>
        </footer>
