<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Movies App</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/user">Profile Page</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/directors">Directors</a></li>
        <li><a href="/auth/login">Log In</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/user">Profile Page</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/directors">Directors</a></li>
        <li><a href="/auth/login">Log In</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>
</header>
