<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <main>
      <div class="container">
      </div>
    </main>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
