<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <main>
      <div class="container center">
      <iframe class="reel" src='https://j.gifs.com/9878oJ.gif' frameborder='0' scrolling='no' width='582px' height='360px' style='-webkit-backface-visibility: hidden;-webkit-transform: scale(1);' ></iframe>
      </div>
    </main>
    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
