<!DOCTYPE html>
<html>
  <% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<main>
  <body>
    <div>
      <h1>Director <%= director.id %>'s Profile:</h1>
      <p>Name: <%= director.name %></p>
      <p>Last Updated: <%= director.updatedAt %></p>
      <a href="<%= `/directors/${director.id}/edit` %>">
        <button type="submit">Edit Name</button>
      </a>
      <a href="/directors">Back to Director Index</a>

    </div>
</main>
<% include ../partials/footer.ejs %>
<% include ../partials/jsdefaults.ejs %>
</body>
</html>
