<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<main>
    <h1>Directors</h1>
    <% directors.forEach(function(director) { %>
      <div>
        <p><%= director.id %>:
          <a href="<%= `/directors/${director.id}` %>">
            <%= director.name %>
          </a>
        </p>
      </div>
    <% }); %>
</main>
<% include ../partials/footer.ejs %>
<% include ../partials/jsdefaults.ejs %>
</body>
</html>
