<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<main>
<form action="<%= '/movies/' + movie.id + '?_method=PUT' %>" method="POST">

  <label>Title
    <input name="title" value="<%= movie.title %>" />
  </label>
  <label>Synopsis:
    <textarea name="synopsis" value=""><%= movie.synopsis %>
    </textarea>
  </label>
  <input type="submit" value="update" />

</form>
</main>
<% include ../partials/footer.ejs %>
<% include ../partials/jsdefaults.ejs %>
</body>
