<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <div class="center">
      <h1 class="center">Movies</h1>
      <button class="btn"><a href="movies/new" class="add-movie">Add New Movie<i class="material-icons right">add</i></a></button>
    </div>
      <div class ="collection col s12">
        <% movies.forEach(function(movie) { %>
          <form action="<%= '/movies/' + movie.id + '?_method=DELETE' %>" method="POST" class="row">
            <a href="<%= '/movies/' + movie.id %>" class="collection-item col s10"><%= movie.title %></a>
            <button type="submit" class="btn right col s2">delete
            <i class="material-icons right">delete</i></button>
          </form>
        <% }); %>
      </div>
    <% include ../partials/footer.ejs %>
  <% include ../partials/jsdefaults.ejs %>
