<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
      <a href="movies/new">Add new Movie</a>
      <h1>Movies</h1>
      <ul>
        <% movies.forEach(function(movie) { %>
        <li>
          <form action="<%= '/movies/' + movie.id + '?_method=DELETE' %>" method="POST">
            <a href="<%= '/movies/' + movie.id %>"><%= movie.title %></a>
            <button type="submit">x</button>
          </form>
        </li>
        <% }); %>
      </ul>
    <% include ../partials/footer.ejs %>
  <% include ../partials/jsdefaults.ejs %>
