<h1>Add New Movie</h1>
<a href="/movies">Go Back</a>
<form action="/movies" method="POST">
  <label>Title
    <input name="title" placeholder="Title" />
  </label>
  <label>Synopsis
    <textarea name="synopsis" placeholder="Movie Synopsis">
    </textarea>
  </label>
  <input type="submit" value="Add Movie" />
</form>
